.container-product{
  margin-left: 150px;
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    width: 90%;
}
.container-product .item{
  display: flex;
    flex-direction: column;
    width: 300px;
    
    padding: 10px 20px;
    /* border: 1px solid gray; */
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  margin-right: 20px;
}
.container-product .item img{
    border-radius: 10px;
  width: 90%;
  height: 200px;
  /* object-fit: contain; */
}