@import "tailwindcss";

:root {
  --color-gray: #eeeee4;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
}
body {
  background-color: var(--color-gray);

  
}
.pointer{
  cursor: pointer;
}



/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.part2 img:hover{
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}
.part2 .items{
  overflow: hidden;
  border-radius: 20px;
  background-color: #64b8ff;
}

