@import "tailwindcss";

:root {
  --color-gray: #eeeee4;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
}
body {
  background-color: var(--color-gray);

  
}
.pointer{
  cursor: pointer;
}
.items{
  border-radius: 15px;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
